dist/
.bundle/
vendor/bundle/
data

# Node.js
node_modules/
package-lock.json

# Environment variables
.env

metrics.yaml

# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
data/
